#dp-location h2 i {
	margin-right: 0.5em;
}

#dp-location-map {
	margin-top: 10px
}

#dp-location-upcoming-events p {
	border-left: 5px solid;
	padding-left: 5px;
}

#dp-location-upcoming-events a,
#dp-location-upcoming-events span {
	margin-left: 5px;
}
