#dp-map form > div {
	margin-bottom: 5px;
}

.dp-map-form-container {
	display: flex;
	flex-wrap: wrap;
}

#dp-map [name=search], #dp-map [name=location] {
	flex-grow: 1;
}

#dp-map [name=start-date], #dp-map [name=end-date] {
	width: 95px;
}

#dp-map [name=radius], #dp-map [name=length-type] {
	width: 111px;
}
