#sp-header {
    background-color: #374f7c;
    color: #ffffff;
    margin: 0,0,50,0;
    border-bottom: solid 3px yellow;
}

@media (min-width: 1200px){
.container {
    width: 1245px;
}
}

a.acymailing_togglemodule {
    background: green !important;
    padding: 10px 26px !important;
    display: inline-block;
    color: #fff;
    width: 76%;
    margin-top: 30px;
}

ul.latestnews li{
	border-bottom: solid 1px grey;
    padding-bottom: 5px;
}

div#sppb-addon-1513775059481.clearfix, div#sppb-addon-1513775059499, div#sppb-addon-1513775059496.clearfix{
    background: blue;
    padding-left: 14px;
    text-align: center;
    color: white;
}