/* ======================== Font ======================== */

@font-face { font-family: 'FontAwesome'; src: url("../fonts/fontawesome-webfont.eot?v=4.0.3"); src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }

.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg { font-size: 1.3333333333333333em; line-height: 0.75em; vertical-align: -15%; }
.fa-2x { font-size: 2em; }
.fa-3x { font-size: 3em; }
.fa-4x { font-size: 4em; }
.fa-5x { font-size: 5em; }
.fa-fw { width: 1.2857142857142858em; text-align: center; }
.fa-ul { padding-left: 0; margin-left: 2.142857142857143em; list-style-type: none; }
.fa-ul > li { position: relative; }
.fa-li { position: absolute; left: -2.142857142857143em; width: 2.142857142857143em; top: 0.14285714285714285em; text-align: center; }
.fa-li.fa-lg { left: -1.8571428571428572em; }
.fa-border { padding: .2em .25em .15em; border: solid 0.08em #eeeeee; border-radius: .1em; }

.fwgp-image a,
#fwgallery p {
    margin: 0 0 10px;
}
.fwgp-image h3,
.fwgp-image h4,
#fwgallery h3,
#fwgallery h4 {
    line-height: 30px;
    margin: 20px 0 10px;
	text-transform: uppercase;
}
.fwgp-image h4,
.fwgp-image .h4,
#fwgallery h4,
#fwgallery .h4 {
    font-size: 21px;
}
.pull-right { float: right; }
.pull-left { float: left; }
.fa.pull-left { margin-right: .3em; }
.fa.pull-right { margin-left: .3em; }
.fa-spin { -webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; animation: spin 2s infinite linear; }

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }

.fa-rotate-90 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
.fa-rotate-180 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.fa-rotate-270 { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); transform: rotate(270deg); }
.fa-flip-horizontal { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1); -webkit-transform: scale(-1, 1); -moz-transform: scale(-1, 1); -ms-transform: scale(-1, 1); -o-transform: scale(-1, 1); transform: scale(-1, 1); }
.fa-flip-vertical { filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1); -webkit-transform: scale(1, -1); -moz-transform: scale(1, -1); -ms-transform: scale(1, -1); -o-transform: scale(1, -1); transform: scale(1, -1); }
.fa-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }
.fa-stack-1x, .fa-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }
.fa-stack-1x { line-height: inherit; }
.fa-stack-2x { font-size: 2em; }
.fa-inverse { color: #ffffff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */
.fa-glass:before { content: "\f000"; }
.fa-music:before { content: "\f001"; }
.fa-search:before { content: "\f002"; }
.fa-envelope-o:before { content: "\f003"; }
.fa-heart:before { content: "\f004"; }
.fa-star:before { content: "\f005"; }
.fa-star-o:before { content: "\f006"; }
.fa-user:before { content: "\f007"; }
.fa-film:before { content: "\f008"; }
.fa-th-large:before { content: "\f009"; }
.fa-th:before { content: "\f00a"; }
.fa-th-list:before { content: "\f00b"; }
.fa-check:before { content: "\f00c"; }
.fa-times:before { content: "\f00d"; }
.fa-search-plus:before { content: "\f00e"; }
.fa-search-minus:before { content: "\f010"; }
.fa-power-off:before { content: "\f011"; }
.fa-signal:before { content: "\f012"; }
.fa-gear:before, .fa-cog:before { content: "\f013"; }
.fa-trash-o:before { content: "\f014"; }
.fa-home:before { content: "\f015"; }
.fa-file-o:before { content: "\f016"; }
.fa-clock-o:before { content: "\f017"; }
.fa-road:before { content: "\f018"; }
.fa-download:before { content: "\f019"; }
.fa-arrow-circle-o-down:before { content: "\f01a"; }
.fa-arrow-circle-o-up:before { content: "\f01b"; }
.fa-inbox:before { content: "\f01c"; }
.fa-play-circle-o:before { content: "\f01d"; }
.fa-rotate-right:before, .fa-repeat:before { content: "\f01e"; }
.fa-refresh:before { content: "\f021"; }
.fa-list-alt:before { content: "\f022"; }
.fa-lock:before { content: "\f023"; }
.fa-flag:before { content: "\f024"; }
.fa-headphones:before { content: "\f025"; }
.fa-volume-off:before { content: "\f026"; }
.fa-volume-down:before { content: "\f027"; }
.fa-volume-up:before { content: "\f028"; }
.fa-qrcode:before { content: "\f029"; }
.fa-barcode:before { content: "\f02a"; }
.fa-tag:before { content: "\f02b"; }
.fa-tags:before { content: "\f02c"; }
.fa-book:before { content: "\f02d"; }
.fa-bookmark:before { content: "\f02e"; }
.fa-print:before { content: "\f02f"; }
.fa-camera:before { content: "\f030"; }
.fa-font:before { content: "\f031"; }
.fa-bold:before { content: "\f032"; }
.fa-italic:before { content: "\f033"; }
.fa-text-height:before { content: "\f034"; }
.fa-text-width:before { content: "\f035"; }
.fa-align-left:before { content: "\f036"; }
.fa-align-center:before { content: "\f037"; }
.fa-align-right:before { content: "\f038"; }
.fa-align-justify:before { content: "\f039"; }
.fa-list:before { content: "\f03a"; }
.fa-dedent:before, .fa-outdent:before { content: "\f03b"; }
.fa-indent:before { content: "\f03c"; }
.fa-video-camera:before { content: "\f03d"; }
.fa-picture-o:before { content: "\f03e"; }
.fa-pencil:before { content: "\f040"; }
.fa-map-marker:before { content: "\f041"; }
.fa-adjust:before { content: "\f042"; }
.fa-tint:before { content: "\f043"; }
.fa-edit:before, .fa-pencil-square-o:before { content: "\f044"; }
.fa-share-square-o:before { content: "\f045"; }
.fa-check-square-o:before { content: "\f046"; }
.fa-arrows:before { content: "\f047"; }
.fa-step-backward:before { content: "\f048"; }
.fa-fast-backward:before { content: "\f049"; }
.fa-backward:before { content: "\f04a"; }
.fa-play:before { content: "\f04b"; }
.fa-pause:before { content: "\f04c"; }
.fa-stop:before { content: "\f04d"; }
.fa-forward:before { content: "\f04e"; }
.fa-fast-forward:before { content: "\f050"; }
.fa-step-forward:before { content: "\f051"; }
.fa-eject:before { content: "\f052"; }
.fa-chevron-left:before { content: "\f053"; }
.fa-chevron-right:before { content: "\f054"; }
.fa-plus-circle:before { content: "\f055"; }
.fa-minus-circle:before { content: "\f056"; }
.fa-times-circle:before { content: "\f057"; }
.fa-check-circle:before { content: "\f058"; }
.fa-question-circle:before { content: "\f059"; }
.fa-info-circle:before { content: "\f05a"; }
.fa-crosshairs:before { content: "\f05b"; }
.fa-times-circle-o:before { content: "\f05c"; }
.fa-check-circle-o:before { content: "\f05d"; }
.fa-ban:before { content: "\f05e"; }
.fa-arrow-left:before { content: "\f060"; }
.fa-arrow-right:before { content: "\f061"; }
.fa-arrow-up:before { content: "\f062"; }
.fa-arrow-down:before { content: "\f063"; }
.fa-mail-forward:before, .fa-share:before { content: "\f064"; }
.fa-expand:before { content: "\f065"; }
.fa-compress:before { content: "\f066"; }
.fa-plus:before { content: "\f067"; }
.fa-minus:before { content: "\f068"; }
.fa-asterisk:before { content: "\f069"; }
.fa-exclamation-circle:before { content: "\f06a"; }
.fa-gift:before { content: "\f06b"; }
.fa-leaf:before { content: "\f06c"; }
.fa-fire:before { content: "\f06d"; }
.fa-eye:before { content: "\f06e"; }
.fa-eye-slash:before { content: "\f070"; }
.fa-warning:before, .fa-exclamation-triangle:before { content: "\f071"; }
.fa-plane:before { content: "\f072"; }
.fa-calendar:before { content: "\f073"; }
.fa-random:before { content: "\f074"; }
.fa-comment:before { content: "\f075"; }
.fa-magnet:before { content: "\f076"; }
.fa-chevron-up:before { content: "\f077"; }
.fa-chevron-down:before { content: "\f078"; }
.fa-retweet:before { content: "\f079"; }
.fa-shopping-cart:before { content: "\f07a"; }
.fa-folder:before { content: "\f07b"; }
.fa-folder-open:before { content: "\f07c"; }
.fa-arrows-v:before { content: "\f07d"; }
.fa-arrows-h:before { content: "\f07e"; }
.fa-bar-chart-o:before { content: "\f080"; }
.fa-twitter-square:before { content: "\f081"; }
.fa-facebook-square:before { content: "\f082"; }
.fa-camera-retro:before { content: "\f083"; }
.fa-key:before { content: "\f084"; }
.fa-gears:before, .fa-cogs:before { content: "\f085"; }
.fa-comments:before { content: "\f086"; }
.fa-thumbs-o-up:before { content: "\f087"; }
.fa-thumbs-o-down:before { content: "\f088"; }
.fa-star-half:before { content: "\f089"; }
.fa-heart-o:before { content: "\f08a"; }
.fa-sign-out:before { content: "\f08b"; }
.fa-linkedin-square:before { content: "\f08c"; }
.fa-thumb-tack:before { content: "\f08d"; }
.fa-external-link:before { content: "\f08e"; }
.fa-sign-in:before { content: "\f090"; }
.fa-trophy:before { content: "\f091"; }
.fa-github-square:before { content: "\f092"; }
.fa-upload:before { content: "\f093"; }
.fa-lemon-o:before { content: "\f094"; }
.fa-phone:before { content: "\f095"; }
.fa-square-o:before { content: "\f096"; }
.fa-bookmark-o:before { content: "\f097"; }
.fa-phone-square:before { content: "\f098"; }
.fa-twitter:before { content: "\f099"; }
.fa-facebook:before { content: "\f09a"; }
.fa-github:before { content: "\f09b"; }
.fa-unlock:before { content: "\f09c"; }
.fa-credit-card:before { content: "\f09d"; }
.fa-rss:before { content: "\f09e"; }
.fa-hdd-o:before { content: "\f0a0"; }
.fa-bullhorn:before { content: "\f0a1"; }
.fa-bell:before { content: "\f0f3"; }
.fa-certificate:before { content: "\f0a3"; }
.fa-hand-o-right:before { content: "\f0a4"; }
.fa-hand-o-left:before { content: "\f0a5"; }
.fa-hand-o-up:before { content: "\f0a6"; }
.fa-hand-o-down:before { content: "\f0a7"; }
.fa-arrow-circle-left:before { content: "\f0a8"; }
.fa-arrow-circle-right:before { content: "\f0a9"; }
.fa-arrow-circle-up:before { content: "\f0aa"; }
.fa-arrow-circle-down:before { content: "\f0ab"; }
.fa-globe:before { content: "\f0ac"; }
.fa-wrench:before { content: "\f0ad"; }
.fa-tasks:before { content: "\f0ae"; }
.fa-filter:before { content: "\f0b0"; }
.fa-briefcase:before { content: "\f0b1"; }
.fa-arrows-alt:before { content: "\f0b2"; }
.fa-group:before, .fa-users:before { content: "\f0c0"; }
.fa-chain:before, .fa-link:before { content: "\f0c1"; }
.fa-cloud:before { content: "\f0c2"; }
.fa-flask:before { content: "\f0c3"; }
.fa-cut:before, .fa-scissors:before { content: "\f0c4"; }
.fa-copy:before, .fa-files-o:before { content: "\f0c5"; }
.fa-paperclip:before { content: "\f0c6"; }
.fa-save:before, .fa-floppy-o:before { content: "\f0c7"; }
.fa-square:before { content: "\f0c8"; }
.fa-bars:before { content: "\f0c9"; }
.fa-list-ul:before { content: "\f0ca"; }
.fa-list-ol:before { content: "\f0cb"; }
.fa-strikethrough:before { content: "\f0cc"; }
.fa-underline:before { content: "\f0cd"; }
.fa-table:before { content: "\f0ce"; }
.fa-magic:before { content: "\f0d0"; }
.fa-truck:before { content: "\f0d1"; }
.fa-pinterest:before { content: "\f0d2"; }
.fa-pinterest-square:before { content: "\f0d3"; }
.fa-google-plus-square:before { content: "\f0d4"; }
.fa-google-plus:before { content: "\f0d5"; }
.fa-money:before { content: "\f0d6"; }
.fa-caret-down:before { content: "\f0d7"; }
.fa-caret-up:before { content: "\f0d8"; }
.fa-caret-left:before { content: "\f0d9"; }
.fa-caret-right:before { content: "\f0da"; }
.fa-columns:before { content: "\f0db"; }
.fa-unsorted:before, .fa-sort:before { content: "\f0dc"; }
.fa-sort-down:before, .fa-sort-asc:before { content: "\f0dd"; }
.fa-sort-up:before, .fa-sort-desc:before { content: "\f0de"; }
.fa-envelope:before { content: "\f0e0"; }
.fa-linkedin:before { content: "\f0e1"; }
.fa-rotate-left:before, .fa-undo:before { content: "\f0e2"; }
.fa-legal:before, .fa-gavel:before { content: "\f0e3"; }
.fa-dashboard:before, .fa-tachometer:before { content: "\f0e4"; }
.fa-comment-o:before { content: "\f0e5"; }
.fa-comments-o:before { content: "\f0e6"; }
.fa-flash:before, .fa-bolt:before { content: "\f0e7"; }
.fa-sitemap:before { content: "\f0e8"; }
.fa-umbrella:before { content: "\f0e9"; }
.fa-paste:before, .fa-clipboard:before { content: "\f0ea"; }
.fa-lightbulb-o:before { content: "\f0eb"; }
.fa-exchange:before { content: "\f0ec"; }
.fa-cloud-download:before { content: "\f0ed"; }
.fa-cloud-upload:before { content: "\f0ee"; }
.fa-user-md:before { content: "\f0f0"; }
.fa-stethoscope:before { content: "\f0f1"; }
.fa-suitcase:before { content: "\f0f2"; }
.fa-bell-o:before { content: "\f0a2"; }
.fa-coffee:before { content: "\f0f4"; }
.fa-cutlery:before { content: "\f0f5"; }
.fa-file-text-o:before { content: "\f0f6"; }
.fa-building-o:before { content: "\f0f7"; }
.fa-hospital-o:before { content: "\f0f8"; }
.fa-ambulance:before { content: "\f0f9"; }
.fa-medkit:before { content: "\f0fa"; }
.fa-fighter-jet:before { content: "\f0fb"; }
.fa-beer:before { content: "\f0fc"; }
.fa-h-square:before { content: "\f0fd"; }
.fa-plus-square:before { content: "\f0fe"; }
.fa-angle-double-left:before { content: "\f100"; }
.fa-angle-double-right:before { content: "\f101"; }
.fa-angle-double-up:before { content: "\f102"; }
.fa-angle-double-down:before { content: "\f103"; }
.fa-angle-left:before { content: "\f104"; }
.fa-angle-right:before { content: "\f105"; }
.fa-angle-up:before { content: "\f106"; }
.fa-angle-down:before { content: "\f107"; }
.fa-desktop:before { content: "\f108"; }
.fa-laptop:before { content: "\f109"; }
.fa-tablet:before { content: "\f10a"; }
.fa-mobile-phone:before, .fa-mobile:before { content: "\f10b"; }
.fa-circle-o:before { content: "\f10c"; }
.fa-quote-left:before { content: "\f10d"; }
.fa-quote-right:before { content: "\f10e"; }
.fa-spinner:before { content: "\f110"; }
.fa-circle:before { content: "\f111"; }
.fa-mail-reply:before, .fa-reply:before { content: "\f112"; }
.fa-github-alt:before { content: "\f113"; }
.fa-folder-o:before { content: "\f114"; }
.fa-folder-open-o:before { content: "\f115"; }
.fa-smile-o:before { content: "\f118"; }
.fa-frown-o:before { content: "\f119"; }
.fa-meh-o:before { content: "\f11a"; }
.fa-gamepad:before { content: "\f11b"; }
.fa-keyboard-o:before { content: "\f11c"; }
.fa-flag-o:before { content: "\f11d"; }
.fa-flag-checkered:before { content: "\f11e"; }
.fa-terminal:before { content: "\f120"; }
.fa-code:before { content: "\f121"; }
.fa-reply-all:before { content: "\f122"; }
.fa-mail-reply-all:before { content: "\f122"; }
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before { content: "\f123"; }
.fa-location-arrow:before { content: "\f124"; }
.fa-crop:before { content: "\f125"; }
.fa-code-fork:before { content: "\f126"; }
.fa-unlink:before, .fa-chain-broken:before { content: "\f127"; }
.fa-question:before { content: "\f128"; }
.fa-info:before { content: "\f129"; }
.fa-exclamation:before { content: "\f12a"; }
.fa-superscript:before { content: "\f12b"; }
.fa-subscript:before { content: "\f12c"; }
.fa-eraser:before { content: "\f12d"; }
.fa-puzzle-piece:before { content: "\f12e"; }
.fa-microphone:before { content: "\f130"; }
.fa-microphone-slash:before { content: "\f131"; }
.fa-shield:before { content: "\f132"; }
.fa-calendar-o:before { content: "\f133"; }
.fa-fire-extinguisher:before { content: "\f134"; }
.fa-rocket:before { content: "\f135"; }
.fa-maxcdn:before { content: "\f136"; }
.fa-chevron-circle-left:before { content: "\f137"; }
.fa-chevron-circle-right:before { content: "\f138"; }
.fa-chevron-circle-up:before { content: "\f139"; }
.fa-chevron-circle-down:before { content: "\f13a"; }
.fa-html5:before { content: "\f13b"; }
.fa-css3:before { content: "\f13c"; }
.fa-anchor:before { content: "\f13d"; }
.fa-unlock-alt:before { content: "\f13e"; }
.fa-bullseye:before { content: "\f140"; }
.fa-ellipsis-h:before { content: "\f141"; }
.fa-ellipsis-v:before { content: "\f142"; }
.fa-rss-square:before { content: "\f143"; }
.fa-play-circle:before { content: "\f144"; }
.fa-ticket:before { content: "\f145"; }
.fa-minus-square:before { content: "\f146"; }
.fa-minus-square-o:before { content: "\f147"; }
.fa-level-up:before { content: "\f148"; }
.fa-level-down:before { content: "\f149"; }
.fa-check-square:before { content: "\f14a"; }
.fa-pencil-square:before { content: "\f14b"; }
.fa-external-link-square:before { content: "\f14c"; }
.fa-share-square:before { content: "\f14d"; }
.fa-compass:before { content: "\f14e"; }
.fa-toggle-down:before, .fa-caret-square-o-down:before { content: "\f150"; }
.fa-toggle-up:before, .fa-caret-square-o-up:before { content: "\f151"; }
.fa-toggle-right:before, .fa-caret-square-o-right:before { content: "\f152"; }
.fa-euro:before, .fa-eur:before { content: "\f153"; }
.fa-gbp:before { content: "\f154"; }
.fa-dollar:before, .fa-usd:before { content: "\f155"; }
.fa-rupee:before, .fa-inr:before { content: "\f156"; }
.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before { content: "\f157"; }
.fa-ruble:before, .fa-rouble:before, .fa-rub:before { content: "\f158"; }
.fa-won:before, .fa-krw:before { content: "\f159"; }
.fa-bitcoin:before, .fa-btc:before { content: "\f15a"; }
.fa-file:before { content: "\f15b"; }
.fa-file-text:before { content: "\f15c"; }
.fa-sort-alpha-asc:before { content: "\f15d"; }
.fa-sort-alpha-desc:before { content: "\f15e"; }
.fa-sort-amount-asc:before { content: "\f160"; }
.fa-sort-amount-desc:before { content: "\f161"; }
.fa-sort-numeric-asc:before { content: "\f162"; }
.fa-sort-numeric-desc:before { content: "\f163"; }
.fa-thumbs-up:before { content: "\f164"; }
.fa-thumbs-down:before { content: "\f165"; }
.fa-youtube-square:before { content: "\f166"; }
.fa-youtube:before { content: "\f167"; }
.fa-xing:before { content: "\f168"; }
.fa-xing-square:before { content: "\f169"; }
.fa-youtube-play:before { content: "\f16a"; }
.fa-dropbox:before { content: "\f16b"; }
.fa-stack-overflow:before { content: "\f16c"; }
.fa-instagram:before { content: "\f16d"; }
.fa-flickr:before { content: "\f16e"; }
.fa-adn:before { content: "\f170"; }
.fa-bitbucket:before { content: "\f171"; }
.fa-bitbucket-square:before { content: "\f172"; }
.fa-tumblr:before { content: "\f173"; }
.fa-tumblr-square:before { content: "\f174"; }
.fa-long-arrow-down:before { content: "\f175"; }
.fa-long-arrow-up:before { content: "\f176"; }
.fa-long-arrow-left:before { content: "\f177"; }
.fa-long-arrow-right:before { content: "\f178"; }
.fa-apple:before { content: "\f179"; }
.fa-windows:before { content: "\f17a"; }
.fa-android:before { content: "\f17b"; }
.fa-linux:before { content: "\f17c"; }
.fa-dribbble:before { content: "\f17d"; }
.fa-skype:before { content: "\f17e"; }
.fa-foursquare:before { content: "\f180"; }
.fa-trello:before { content: "\f181"; }
.fa-female:before { content: "\f182"; }
.fa-male:before { content: "\f183"; }
.fa-gittip:before { content: "\f184"; }
.fa-sun-o:before { content: "\f185"; }
.fa-moon-o:before { content: "\f186"; }
.fa-archive:before { content: "\f187"; }
.fa-bug:before { content: "\f188"; }
.fa-vk:before { content: "\f189"; }
.fa-weibo:before { content: "\f18a"; }
.fa-renren:before { content: "\f18b"; }
.fa-pagelines:before { content: "\f18c"; }
.fa-stack-exchange:before { content: "\f18d"; }
.fa-arrow-circle-o-right:before { content: "\f18e"; }
.fa-arrow-circle-o-left:before { content: "\f190"; }
.fa-toggle-left:before, .fa-caret-square-o-left:before { content: "\f191"; }
.fa-dot-circle-o:before { content: "\f192"; }
.fa-wheelchair:before { content: "\f193"; }
.fa-vimeo-square:before { content: "\f194"; }
.fa-turkish-lira:before, .fa-try:before { content: "\f195"; }
.fa-plus-square-o:before { content: "\f196"; }

.fwgp-image .fa-image:before,
#fwgallery .fa-image:before { content: "\f03e"; }
#fwgallery .icon-menu-2:before { content: "\f0c7"; }
#fwgallery i.icon-star:before {	content: "\f005"; }
#fwgallery i.icon-star-empty:before { content: "\f006"; }
#fwgallery .icon-downarrow:before { content: "\f063"; }
#fwgallery .icon-uparrow:before { content: "\f062"; }
#fwgallery .icon-calendar:before { content: "\f073"; }

/* ======================== Galleries ======================== */
#fwgallery .fwg-subgalleries {
    margin-bottom: 40px;
}
#fwgallery .galleries-list .galleries-item-item {
    margin-bottom: 60px;
}
#fwgallery .galleries-list .galleries-item-image {
    text-align: center;
    margin-top: 8px;
}
#fwgallery .galleries-list .galleries-item-image a {
    display: block;
}
#fwgallery .fwg-item-type {
	text-align: center;
}
.fwgp-image .fwg-item-type i,
#fwgallery .fwg-item-type i {
	font-size: 60px;
}
#fwgallery .fwg-item-video figure:hover:after {
    content: "\f01d"; display: block; position: absolute; left: 50%; top: 30%;
    width: 60px; height: 60px; margin: -30px 0 0 -30px; font: 60px/60px 'FontAwesome'; color: white;
}
#fwgallery .fwg-item-image figure:hover:after {
    content: "\f06e"; display: block; position: absolute; left: 50%; top: 30%;
    width: 60px; height: 60px; margin: -30px 0 0 -30px; font: 60px/60px 'FontAwesome'; color: white;
}
#fwgallery .galleries-item-video a.img-eye-hover:hover:after {
    content: "\f01d"; display: block; position: absolute; left: 50%; top: 50%;
    width: 60px; height: 60px; margin: -30px 0 0 -30px; font: 60px/60px 'FontAwesome'; color: white;
}
#fwgallery .galleries-list .galleries-item-body {
    background-color: white;
}
#fwgallery .galleries-list .galleries-item-title { margin-top: 0; font-size: 21px; margin-bottom: 0; }
#fwgallery .galleries-list .galleries-item-info { background-color: white; font-size: 12px; color: #a4a6ac; }
@media (max-width: 767px) {
    #fwgallery .galleries-list .galleries-item-item { width:100%; margin-left: auto; margin-right: auto; }
    #fwgallery .galleries-list .galleries-item-image { margin-bottom: 20px; }
}

#fwgallery .galleries-masonry .galleries-item-item { margin-bottom: 30px; }
#fwgallery .galleries-masonry .galleries-item-image { margin-top: 0; margin-bottom: 0; }
#fwgallery .galleries-masonry .galleries-item-body { padding: 25px 30px 20px; border: 1px solid #d5d8dd; }

#fwgallery .galleries-item-image figcaption div {
    color: #ffffff;
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
}
#fwgallery figure.image-fit {
	width: 100%;
}
#fwgallery .fwg-video {
    position: relative;
    width: 100%;
	padding-bottom: 56.25%;
}
#fwgallery .fwg-video iframe,
#fwgallery .fwg-video object,
#fwgallery .fwg-video embed,
#fwgallery .fwg-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fwgallery .galleries-item {
	margin-bottom: 25px;
}

/* ======================== Effects & Animations ======================== */
a.img-eye-hover { display: inline-block; vertical-align: bottom; position: relative; overflow: hidden; }
a.img-eye-hover figcaption {transition: all 0.5s ease;opacity:0;opacity:0; background-color: rgba(0, 0, 0, 0.8);position:absolute;height:100%;width:100%;top:0;left:0;}
a.img-eye-hover:hover figcaption {opacity: 1;}
a.img-eye-hover > img { transition: all 0.5s ease; transform-style: preserve-3d; }
a.img-eye-hover:hover:after { content: "\f06e"; display: block; position: absolute; left: 50%; top: 50%; width: 30px; height: 30px; margin: -16px 0 0 -15px; font: 40px/40px FontAwesome; color: white; }
a.img-eye-hover:hover > img { transform: scale(1.3); -ms-transform: scale(1.3); /* IE 9 */ -moz-transform: scale(1.3); /* Firefox */ -webkit-transform: scale(1.3); /* Safari and Chrome */ -o-transform: scale(1.3); /* Opera */ }

a.img-zoom-hover { display: inline-block; position: relative; vertical-align: bottom; overflow: hidden; }
a.img-zoom-hover > img { transition: all 0.5s ease; transform-style: preserve-3d; }
a.img-zoom-hover:hover > img { transform: scale(1.3); -ms-transform: scale(1.3); /* IE 9 */ -moz-transform: scale(1.3); /* Firefox */ -webkit-transform: scale(1.3); /* Safari and Chrome */ -o-transform: scale(1.3); /* Opera */ }

/* ======================== Loading spinners ======================== */
.loading-spinner { background: none; font: 32px/32px FontAwesome; color: #FFBE24; -webkit-animation: spin 2s infinite linear; -moz-animation: spin 2s infinite linear; -o-animation: spin 2s infinite linear; animation: spin 2s infinite linear; display: inline-block; width: 32px; height: 32px; vertical-align: middle; }
.loading-spinner:before { content: "\f110"; }

/* ======================== Footer Load More ======================== */
.footer-loadmore { font-size: 16px; text-transform: uppercase; }

/* ======================== Single Gallery ======================== */
.fwg-single-gallery { background-color: #1a1a1a; margin-left: 0; margin-right: 0; list-style-type: none; margin: 0; padding: 0;}
.fwg-single-gallery:before,
.fwg-single-gallery:after { content: " "; display: table; }
.fwg-single-gallery:after { clear: both; }
.fwg-single-gallery-item { width: 100%; position: relative; min-height: 1px; padding-left: 0; padding-right: 0; position: relative; min-height: 1px; padding-left: 0; padding-right: 0; position: relative; min-height: 1px; padding-left: 0; padding-right: 0; }
@media (min-width: 768px) { .fwg-single-gallery-item { float: left; width: 50%; } }
@media (min-width: 992px) { .fwg-single-gallery-item { float: left; width: 33.33333%; } }
@media (min-width: 1200px) { .fwg-single-gallery-item { float: left; width: 25%; } }
.galleries-item .fwg-loading,
.fwg-single-gallery-item.fwg-loading { min-height: 225px; background: url(../images/spinner_black.gif) center center no-repeat; }
.fwg-single-gallery-item.fwg-double { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; position: relative; min-height: 1px; padding-left: 0; padding-right: 0; position: relative; min-height: 1px; padding-left: 0; padding-right: 0; }
@media (min-width: 768px) { .fwg-single-gallery-item.fwg-double { float: left; width: 100%; } }
@media (min-width: 992px) { .fwg-single-gallery-item.fwg-double { float: left; width: 66.66667%; } }
@media (min-width: 1200px) { .fwg-single-gallery-item.fwg-double { float: left; width: 50%; } }
.fwg-single-gallery-item a:hover { text-decoration: none; }
.fwgp-image .fwg-single-gallery-item.fwg-content-plugin { width: 100% !important; }
.fwgp-image .fwg-single-gallery-item figure,
.fwg-single-gallery-item figure { position: relative; width: 100%; overflow: hidden; }
.fwgp-image .fwg-single-gallery-item figure img,
.fwg-single-gallery-item figure img { max-width: 100%; min-width: 100%; vertical-align: middle; transition: all 0.5s ease; transform-style: preserve-3d; }
.fwgp-image .fwg-single-gallery-item figure figcaption,
.fwg-single-gallery-item figure figcaption { position: absolute; top: 0; left: 0; bottom: 0; right: 0; opacity: 0; width: 100%; height: 100%; transition: all 0.5s ease; background-color: rgba(0, 0, 0, 0.8); }
.fwgp-image .fwg-single-gallery-item figure:hover > img,
.fwg-single-gallery-item figure:hover > img { transform: scale(1.3); -ms-transform: scale(1.3); /* IE 9 */ -moz-transform: scale(1.3); /* Firefox */ -webkit-transform: scale(1.3); /* Safari and Chrome */ -o-transform: scale(1.3); /* Opera */ }
.fwgp-image .fwg-single-gallery-item figure:hover > figcaption,
.fwg-single-gallery-item figure:hover > figcaption { opacity: 1; }
.fwg-single-gallery-item .fwg-item-preview { display: none; }
.fwg-single-gallery-item.fwg-item-preview { position: relative; width: 100% !important; background-color: #1a1a1a; }
.fwg-single-gallery-item.fwg-item-preview .fwg-arrow { display: block; position: absolute; z-index: 1; top: -60px; left: 12.5%; margin-left: -30px; width: 0; height: 0; border: 30px solid transparent; border-bottom-color: #1a1a1a; }
.fwg-single-gallery-item.fwg-item-preview .fwg-close { display: block; position: absolute; z-index: 1; top: 15px; right: 25px; width: 24px; height: 30px; line-height: 30px; font-size: 45px; color: #8e9095; font-family: 'FontAwesome'; }
.fwg-single-gallery-item.fwg-item-preview .fwg-close:before { content: "\f00d"; }
.fwg-single-gallery-item.fwg-item-preview .fwg-zoom { display: block; position: absolute; z-index: 1; top: 0; right: 0; width: 40px; height: 40px; line-height: 40px; font-size: 18px; background-color: #444649; color: #8e9095; font-family: 'FontAwesome'; }
.fwg-single-gallery-item.fwg-item-preview .fwg-zoom:before { content: "\f00e"; }
@media (max-width: 991px) { .fwg-single-gallery-item.fwg-item-preview .fwg-zoom { display: none; } }
.fwg-single-gallery-item.fwg-item-preview .fwg-item-preview-container { max-width: 1200px; margin: 0 auto; padding: 20px 0; }
.fwg-single-gallery-item.fwg-item-preview figure { display: inline-block; width: auto; text-align: center; max-width: 100%; }
.fwg-single-gallery-item.fwg-item-preview figure img { max-width: 100%; min-width: 0; }
.fwg-single-gallery-item.fwg-item-preview figure img.fwg-zoomed { display: block; position: fixed; z-index: 101; top: 0; right: 0; width: 100%; max-width: none; cursor: url(../images/zoom-out.gif), zoom-out; }
.fwg-single-gallery-item.fwg-item-preview figure:hover > img { transform: none; -webkit-transform: none; -ms-transform: none; -moz-transform: none; -o-transform: none; }
.fwg-single-gallery-item.fwg-item-preview .fwg-preview-description { padding: 0 30px 0 15px; font-size: 13px; }
.fwg-single-gallery.fwg-cols-3 .fwg-single-gallery-item { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-cols-3 .fwg-single-gallery-item { float: left; width: 33.334%; } }
.fwg-single-gallery.fwg-cols-3 .fwg-single-gallery-item.fwg-double { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-cols-3 .fwg-single-gallery-item.fwg-double { float: left; width: 66.66667%; } }
.fwg-single-gallery.fwg-cols-5 .fwg-single-gallery-item { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-cols-5 .fwg-single-gallery-item { float: left; width: 20%; } }
.fwg-single-gallery.fwg-cols-5 .fwg-single-gallery-item.fwg-double { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-cols-5 .fwg-single-gallery-item.fwg-double { float: left; width: 40%; } }
.fwg-single-gallery.fwg-cols-6 .fwg-single-gallery-item { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-cols-6 .fwg-single-gallery-item { float: left; width: 16.66667%; } }
.fwg-single-gallery.fwg-cols-6 .fwg-single-gallery-item.fwg-double { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-cols-6 .fwg-single-gallery-item.fwg-double { float: left; width: 33.33333%; } }
.fwg-single-gallery-item-icon { margin-bottom: 0; font-size: 36px; text-align: center; color: white; }
.fwg-single-gallery-item-title { margin-bottom: 0; font-size: 16px; text-align: center; color: white; text-transform: uppercase; }
.fwg-single-gallery-item-category { margin-bottom: 0; font-size: 16px; line-height: 1; text-align: center; color: #8e9095; }
.fwg-single-gallery.fwg-pinterest .fwg-single-gallery-item { padding: 5px; }
.fwg-single-gallery.fwg-pinterest .fwg-single-gallery-item.fwg-double { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; position: relative; min-height: 1px; padding-left: 0; padding-right: 0; position: relative; min-height: 1px; padding-left: 0; padding-right: 0; padding: 5px; }
@media (min-width: 768px) { .fwg-single-gallery.fwg-pinterest .fwg-single-gallery-item.fwg-double { float: left; width: 50%; } }
@media (min-width: 992px) { .fwg-single-gallery.fwg-pinterest .fwg-single-gallery-item.fwg-double { float: left; width: 33.33333%; } }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-pinterest .fwg-single-gallery-item.fwg-double { float: left; width: 25%; } }
.fwg-single-gallery.fwg-pinterest .fwg-single-gallery-item figcaption { position: relative; z-index: 1; opacity: 1; padding: 20px; background-color: white; }
.fwg-single-gallery.fwg-pinterest.fwg-cols-3 .fwg-single-gallery-item.fwg-double { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; padding: 5px; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-pinterest.fwg-cols-3 .fwg-single-gallery-item.fwg-double { float: left; width: 33.33333%; } }
.fwg-single-gallery.fwg-pinterest.fwg-cols-5 .fwg-single-gallery-item.fwg-double { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; padding: 5px; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-pinterest.fwg-cols-5 .fwg-single-gallery-item.fwg-double { float: left; width: 20%; } }
.fwg-single-gallery.fwg-pinterest.fwg-cols-6 .fwg-single-gallery-item.fwg-double { position: relative; min-height: 1px; padding-left: 0; padding-right: 0; padding: 5px; }
@media (min-width: 1200px) { .fwg-single-gallery.fwg-pinterest.fwg-cols-6 .fwg-single-gallery-item.fwg-double { float: left; width: 16.66667%; } }
.fwg-single-gallery.fwg-pinterest .fwg-single-gallery-item-title { margin-bottom: 10px; font-size: 15px; text-align: left; color: #444649; text-transform: uppercase; }

#fwgallery .fwg-more-block { height: 60px; line-height: 60px; text-align: center; }

/* ======================== Single Gallery Image Preview ======================== */

.fwgp-image  .fwg-item-type,
.fwgp-image  .fwg-item-title,
.fwgp-image  .fwg-item-description,
.fwgp-image  .fwg-item-author,
.fwgp-image  .fwg-item-tags,
#fwgallery .fwg-item-type,
#fwgallery .fwg-item-title,
#fwgallery .fwg-item-description,
#fwgallery .fwg-item-author,
#fwgallery .fwg-item-tags {
    color: #8e9095; margin-bottom: 0; font-size: 16px; text-align: center; line-height: 1;}
.fwgp-image .fwg-item-type,
#fwgallery .fwg-item-type { color: #fff; font-size: 200%; }
.fwgp-image .fwg-item-title,
#fwgallery .fwg-item-title {  margin-top: 10px; color: #fff; text-transform: uppercase; }
.fwgp-image .fwg-item-author,
#fwgallery .fwg-item-author { margin-top: 5px; font-size: 90%; }
.fwgp-image .fwg-item-tags,
#fwgallery .fwg-item-tags { margin-top: 10px; font-size: 80%; }

#fwgallery .fwg-fixed-ratio-item.fwg-loading { min-height: 0; }
#fwgallery .fwg-fixed-ratio-item > a { display: block; position: relative; width: 100%; padding-top: 67%; }
#fwgallery .fwg-fixed-ratio-item figure { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin:0; }
#fwgallery .fwg-fixed-ratio-item figure img { min-height: 100%; }

/* ======================== Single Image ======================== */

#fwgallery .fwg-single-item-wrapper {
    padding: 15px 0;
    background: #1a1a1a;
}
#fwgallery .fwg-image-info {
    color: #8e9095;
}
#fwgallery .fwg-image-info h4 {
    color: #fff;
}

/* ======================== Toolbar ======================== */

#fwgallery .fwg-toolbar {
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
#fwgallery .fwg-toolbar .fwg-back2gallery { font-size: 16px; text-transform: uppercase; }
#fwgallery .fwg-toolbar .fwg-back2gallery:before { content: "\f03e"; display: inline-block; font: 18px/20px 'FontAwesome'; text-transform: none; margin-right: 7px; }
#fwgallery .fwg-toolbar .fwg-prev-post,
#fwgallery .fwg-toolbar .fwg-next-post { position: relative; display: block; font-size: 16px; text-transform: uppercase; line-height: 40px; }
#fwgallery .fwg-toolbar .fwg-prev-post:before,
#fwgallery .fwg-toolbar .fwg-next-post:before {
    content: '\f105';
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 13px; height: 25px;
    font-size: 25px;
    line-height: 40px;
}
#fwgallery .fwg-toolbar .fwg-prev-post:before { content: '\f104'; left: 0; }
#fwgallery .fwg-toolbar .fwg-prev-post { padding-left: 20px; }
#fwgallery .fwg-toolbar .fwg-next-post { padding-right: 20px; }
#fwgallery .fwg-toolbar .disabled { color: #8e9095; }


/* ======================== Social icons ======================== */
#fwgallery .fwg-social { margin: 25px 0; }
#fwgallery .fwg-social:before, .fwg-social:after { content: " "; display: table; }
#fwgallery .fwg-social:after { clear: both; }
.fwg-social a { color: #6d6d6d; }
#fwgallery .fwg-social a { display: block; float: left; width: 32px; height: 32px; margin-right: 3px; margin-bottom: 3px; background-color: #292929; font-size: 16px; line-height: 32px; text-align: center; }
#fwgallery .fwg-social a:last-child { margin-right: 0; }
#fwgallery .fwg-social h6 { float: left; margin: 0 10px 0 0; line-height: 30px; }


/* ======================== Front-end Manager ======================== */

#fwgallery .fwg-fm-tabbody {
    padding: 20px 30px;
    background: #edeef0;
}
#fwg-batch-uploader-drop-zone {
    border: 2px dashed #333;
    min-height: 200px;
	padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
#fwgallery .fwg-batch-button {
    text-align: center;
}

#fwgallery .btn-micro {
	padding: 2px 10px;
}

#fwgallery i.icon-star:before,
#fwgallery i.icon-star-empty:before,
#fwgallery .icon-menu-2:before,
#fwgallery .icon-downarrow:before,
#fwgallery .icon-uparrow:before,
#fwgallery .icon-calendar:before {
	display: inline-block;
	font-family: "FontAwesome" !important;
}
/* calendar */
#created_img {
	padding: 0 10px;
	margin: -2px 0 0 0;
}
body > div.calendar {
	width: auto;
}

/* ======================== Utilities ======================== */
.fwgp-image .middle,
#fwgallery .middle { width: 100%; height: 100%; display: table; }
.fwgp-image .middle .middle-inner,
#fwgallery .middle .middle-inner { width: 100%; height: 100%; display: table-cell; vertical-align: middle; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/* bootstrap v3.0.1 */
.fwgp-image figure,
#fwgallery figure {
    margin: 0;
}
.fwgp-image  *,
#fwgallery * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.fwgp-image .row,
#fwgallery .row { margin-left: -15px; margin-right: -15px; }
.fwgp-image .row:before,
#fwgallery .row:before,
#fwgallery .row:after { content: " "; display: table; }
.fwgp-image .row:after,
#fwgallery .row:after { clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }

.col-xs-1 { width: 8.33333%; }
.col-xs-2 { width: 16.66667%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.33333%; }
.col-xs-5 { width: 41.66667%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.33333%; }
.col-xs-8 { width: 66.66667%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.33333%; }
.col-xs-11 { width: 91.66667%; }
.col-xs-12 { width: 100%; }

@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }
}
@media (min-width: 992px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; }
}
@media (min-width: 1200px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-12 { width: 100%; }
}
/* ======================== Onepage ======================== */
div.ls-fullheight { padding: 0; }

div.ls-nobullets .ls-bottom-nav-wrapper { display: none; }

div.ls-nonav a.ls-nav-prev { display: none !important; }
div.ls-nonav a.ls-nav-next { display: none !important; }
/* ======================== Mental LayerSlider Layers & Styles ======================== */
.ls-mental-back2gallery a,
.ls-mental-bottombar a {
    color: #FFBE24;
    text-decoration: none;
}
.icon_grid-2x2 {
	font-family: 'FontAwesome';
}
.icon_grid-2x2::before {
    content: "\f009";
}

.mb-social { margin: 23px 0 47px; }
.mb-social:before, .mb-social:after { content: " "; display: table; }
.mb-social:after { clear: both; }
.mb-social a { display: block; float: left; width: 32px; height: 32px; margin-right: 3px; margin-bottom: 3px; background-color: #292929; color: #6d6d6d; font-size: 16px; line-height: 32px; text-align: center; }
.mb-social a:hover { color: #FFBE24; }
.mb-social a:last-child { margin-right: 0; }
.mb-social h6 { float: left; margin: 0 10px 0 0; line-height: 30px; }

.ls-mental-title { padding: 18px 28px; line-height: 37px; font-size: 31px; font-weight: bold; color: #8e9095; background: #1a1a1a; white-space: nowrap; }
@media (max-width: 767px) { .ls-mental-title { font-size: 18px; } }

.ls-mental-title-onepage { padding: 18px 28px; line-height: 37px; font-size: 31px; font-weight: bold; color: #FFBE24; background: #1a1a1a; white-space: nowrap; }
@media (max-width: 767px) { .ls-mental-title-onepage { font-size: 18px; } }

.ls-mental-desrc { padding: 8px 35px; line-height: 20px; font-size: 18px; font-weight: bold; color: #1a1a1a; background: white; white-space: nowrap; text-transform: none; }
@media (max-width: 767px) { .ls-mental-desrc { font-size: 14px; } }

.ls-mental-button { background-color: black; padding: 9px 24px; }

.ls-mental-scrollunder { display: block; width: 40px; height: 40px; border: 2px solid white; border-radius: 40px; font: 40px/40px FontAwesome; text-align: center; text-decoration: none; color: white; cursor: pointer; transition: all 0.3s ease; }
.ls-mental-scrollunder:before { content: "\f107"; }
.ls-mental-scrollunder:hover { color: black; text-decoration: none; background-color: white; }

.ls-mental-bottombar { position: absolute; bottom: 0; left: 0; right: 0; z-index: 3; height: 60px; line-height: 60px; padding: 0 10px 0 30px; background-color: rgba(0, 0, 0, 0.7); }
.ls-mental-bottombar #lsmb-title { font-size: 18px; text-transform: uppercase; }
.ls-mental-bottombar .mb-social { float: right; margin: 15px 0; }
.ls-mental-bottombar .mb-social p { float: left; margin: 0 20px 0 0; line-height: 2.3; font-size: 16px; color: #8e9095; }

.ls-mental-bottombar2 { position: absolute; bottom: 0; right: 0; z-index: 3; height: 50px; line-height: 50px; padding: 0 9px 0 20px; background-color: rgba(0, 0, 0, 0.7); }
.ls-mental-bottombar2 .mb-social { float: right; margin: 9px 0; }
.ls-mental-bottombar2 .mb-social p { float: left; margin: 0 20px 0 0; line-height: 2.3; font-size: 16px; }

.ls-mental-back2gallery { position: absolute; top: 0; right: 0; z-index: 3; width: 40px; height: 40px; background-color: rgba(0, 0, 0, 0.7); }
.ls-mental-back2gallery a { display: block; color: #FFBE24; text-align: center; line-height: 40px; font-size: 18px; }
.ls-mental-back2gallery a:hover { text-decoration: none; }

.ls-mental-nav { position: absolute; top: 80%; left: 0; z-index: 3; width: 100%; }
.ls-mental-nav .ls-mental-nav-container { width: 1170px; margin: 0 auto; }
.ls-mental-nav .ls-mn-counter { display: inline-block; height: 45px; line-height: 45px; background-color: rgba(0, 0, 0, 0.9); padding: 0 30px; margin-right: 2px; color: #444649; font-size: 18px; vertical-align: middle; }
.ls-mental-nav .ls-mn-counter em { font-style: normal; color: #8e9095; }
.ls-mental-nav .ls-mn-prev, .ls-mental-nav .ls-mn-next { display: inline-block; width: 45px; height: 45px; background-color: rgba(0, 0, 0, 0.9); margin-right: 2px; vertical-align: middle; }
.ls-mental-nav .ls-mn-prev:after, .ls-mental-nav .ls-mn-next:after { content: ''; display: block; width: 13px; height: 25px; margin: 10px 0 0 15px; background: url(assets/img/sp_arrows.png) -26px 0 no-repeat; }
.ls-mental-nav .ls-mn-next:after { margin: 10px 0 0 17px; background-position: -39px 0; }
.ls-mental-nav .ls-mn-prev:hover:after { background-position: 0 0; }
.ls-mental-nav .ls-mn-next:hover:after { background-position: -13px 0; }

td.order input[type="text"] {
	width: 36px;
	height: 28px;
}
